:root {
    --black: #000;
    --black-transparent: rgba(0, 0, 0, 0.8);
    --black-transparent-two: rgba(0, 0, 0, 0.5);
    --black-shadow: #333;
    --black-middle: #555;
    --orange: #B28756;
    --white: #FFF;
    --white-two: #EEE;
    --gray: #CCC;
    --gray-two: #F7F7F7;
    --gray-three: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
}
header {
    height: 100px;
    background-color: var(--black);
    color: var(--white);
}
.container {
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 100px;
    margin: auto;
}
.logo {
    width: 100px;
}
.logo-img {
    width: 80px;
    height: 80px;
    background-color: var(--orange);
    border-radius: 40px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
    text-transform: uppercase;
}
.menu ul {
    display: flex;   
}
.menu li a{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid var(--black);
    font-size: 14px;
}
.menu li a:hover {
    border-bottom: 5px solid var(--orange);
    transition: 0.1s;
}
.menu li #link-active {
    border-bottom: 5px solid var(--orange);
    color: var(--gray);
}
.button {
    display: inline-block;
    background-color: var(--orange);
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: var(--white);
    color: var(--orange);
    transition: 0.3s;
}
main .banner {
    height: calc(100vh - 100px);
    background-color: var(--gray);
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
    display: flex;
}
.banner .slide {
    display: inline-block;
    width: 100vw;
    height: 100%;
    background-color: var(--black-transparent);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.banner .slidearea h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
}
.banner .slidearea h1 span {
    color: var(--orange);
}
.banner .slidearea h2 {
    text-transform: uppercase;
    margin-top: 10px;
}
.button:hover {
    background-color: var(--white);
    color: var(--orange);
    transition: 0.1s;
}
.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--orange);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;    
}
.banner #pointer-active {
    background-color: var(--orange);
}
main .default {
    width: 100vw;
    padding: 50px 0;
}
.default-title,
.default-description {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.dafault-title h2 {
    font-size: 20px;
}
.default-description p {
    font-size: 12px;
    color: var(--gray);
    margin: 5px 0 30px 0;
}
.default-body {
    max-width: 1140px;
    margin: auto;
}
.default.light {
    background-color: var(--gray-two);
    padding: 30px 0;
}
.default.light .default-title
.default.light .default-body {
    color: var(--black)
}
.default.dark {
    background-color: var(--black);
    padding: 30px 0;
}
.default.dark .default-title,
.default.dark .default-body{
    color: var(--white)
}
/*
CSS DE ÁREAS ESPECÍFICAS
*/
.section-aboutUs {
    display: flex;
}
.section-aboutUs--left {
    flex: 1;
}
.section-aboutUs--left p {
    font-size: 14px;
    line-height: 25px;
}
.section-aboutUs--right {
    width: 500px;
    text-align: center;
}
.section-aboutUs--right figure img {
    width: 480px;
    box-shadow: 0px 5px 10px var(--black-shadow);
}
.default-services {
    display: flex;
}
.default-services-iten {
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--black-shadow);
    padding: 15px;
}
.default-services-iten:first-child {
    border-left: 1px solid var(--black-shadow);
}   
.default-services h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.default-services p {
    margin-top: 10px;
    font-size: 12px;
    color: var(--gray);
}
.default-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.default-projects--filters {
    border: 1px solid var(--gray-three);
    background-color: var(--white-two);
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.default-projects--filters ul,
.default-projects--filters li {
    list-style: none;
}
.default-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid var(--gray);
    color: var(--black-middle);
    border-bottom: 3px solid var(--white-two);
}
.default-projects--filters li:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--orange);
    transition: 0.3s;
}
.default-projects--filters li:first-child {
    border-left: 0;
}
.default-projects--filters li#link-active-two {
    border-bottom: 3px solid var(--orange);
    color: var(--gray-three);
}
.default-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.default-projects--photo {
    width: 280px;
}
.default-projects--photo-area {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.default-projects--photo-area img {
    width: inherit;
    height: inherit;
}
.default-projects--photo-area-info {
    position: absolute;
    background-color: var(--black-transparent-two);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
}
.default-projects--photo-area-info h5 {
    font-size: 18px;
    font-weight: 600;
}
.default-projects--photo-area:hover .default-projects--photo-area-info {
    display: flex;
}
.default.dark.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}
.default-team-area {
    background-color: var(--black-transparent);
    padding: 50px 0;
}
.default-team {
    overflow: hidden;
    max-width: 1140px;
    margin: auto;
}
.default-team .sliders {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.default-team .slide {
    display: inline-block;
    width: 280px;
    height: 100%;
    min-height: 300px;
    background-color: var(--white);
    margin-right: 20px;
}
.default-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--black);
    padding: 30px;
}
.default-body .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-body .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--orange);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;    
}
.default-body #pointer-active {
    background-color: var(--orange);
}
.default-team-avatar img {
    width: 150px;
    height: auto;

}
.default-team-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.default-team-role {
    color: var(--gray-three);
    margin-top: 5px;
}
.default-team-social {
    display: flex;
    margin-top: 20px;
}
.default-team-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: var(--gray);
    border-radius: 13px;
    margin-right: 10px;
}
.default-team-social a:hover {
    background-color: var(--orange);
    transition: 0.1s;
}
.default-body .default-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.default-body .default-clients-name {
    font-weight: 600;
    font-size: 17px;
    margin: 20px 0 5px 0;
}
.default-body .default-clients-role {
    color: var(--black-shadow);
    margin-bottom: 25px;
}
.default-body .default-clients-icon{
    margin-bottom: 5px;
}
.default-body .default-clients-paragraph{
    text-align: center;
    width: 60%;
}
.default-body .default-clients-paragraph p{
    color: var(--black-middle);
    line-height: 25px;
}
.default.white {
    background-color: var(--white);
    padding: 30px;
}
.default-body .default-clients-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 25px;
    margin: auto;
}
.default-body .default-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
    margin: auto;
}
.default-body .default-price-table {
    background-color: var(--white);
    border: 1px solid var(--white-two);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.default-body .default-price-table--header h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.default-body .default-price-table--header h2 {
    margin-top: 5px;
    letter-spacing: 2px;
}
.default-body .default-price-table--header h5 {
    text-align: center;
    color: var(--gray);
    text-transform: uppercase;
}
.default-body .default-price-table--body li {
    margin-top: 10px;
}
.default-body .default-price-table--body ul {
    list-style: none;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}
.default-body .button-price {
    display: inline-block;
    background-color: var(--black-shadow);
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.default-body .button-price:hover {
    background-color: var(--orange);
    color: var(--white);
    transition: 0.3s;
}
.default-body .default-premium {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    margin: 30px 0;
}
.default-body .default-premium--left img {
    height: 300px;
}
.default-body .default-premium--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.default-body .default-premium--right-one,
.default-body .default-premium--right-two,
.default-body .default-premium--right-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}
.default-body .default-premium--right-text {
    color: var(--gray-three);
    margin: 0 20px;
}
.default-body .default-premium--right-text h4 {
    color: var(--black);
}
.default-body .default-premium--right-text li {
    list-style-type: none;
    text-transform: uppercase;
}
.default-body .default-premium--right-text p,
.default-body .default-premium--right-text li {
    font-size: 14px;
    margin: 5px 0;
}
.default-body .default-premium-divider {
    border: 1px solid var(--white-two);
    width: 50%;
    margin: auto;
}
.default-body .default-premium-button {
    display: flex;
    justify-content: center;
}
.default-body .default-facts {
    display: flex;
}
.default-body .default-facts-iten {
    flex: 1;
    text-align: center;
    padding: 15px;
}
.default-body .default-facts-iten h3 {
    color: var(--orange);
    font-size: 32px;
}
.default-body .default-facts h4 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
.default-body .default-facts p {
    font-size: 12px;
    color: var(--gray);
}
.default-body .default-facts-divisor {
    border: 1px solid var(--orange);
    margin-top: 5px;
    width: 10%;
    margin: auto;
}
.default-body .default-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
}
.default-body .default-social-required {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
}
.default-body .default-social-required img {
    width: 20px;
    height: 25px;
}
.default-body .default-social-required p {
    color: var(--gray-three);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
}
.default-body .default-social-accounts {
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-body .default-social-accounts p {
    font-size: 10px;
    color: var(--gray-three);
    margin: 0 30px 0 5px;
}
.default-form {
    display: flex;
    justify-content: center;
    color: var(--gray-three);
}
.default-form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--gray-three);
    margin: 10px 0;
}
.default-form input::placeholder {
    color: var(--gray-three);
    font-size: 16px;
}
.default-form-identification {
    display: flex;
    gap: 0 30px;
}
.default-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}