* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #bbbbbb;
}
header {
    display: flex;
    justify-content: center;
}
header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.principal-title h1 {
    font-weight: 700;
}
.second-title {
    margin-top: 10px;
}
.second-title h2 {
    font-weight: 100;
}
.divider {
    margin-top: 10px;
    width: 99%;
    border: 1px solid #dddddd;
}
main {
    display: flex;
    justify-content: center;
}
main .presentation {
    display: none;
}
main .container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
}
.photo {
    display: none;
}
.photo-richard {
    border: 1px solid #000;
    padding: 5px 1px;
    background-color: #dddddd;
}
.photo-richard img {
    width: 300px;
    height: 300px;
}
.photo-richard figcaption {
    display: flex;
    justify-content: center;
    background-color: #dddddd;
    font-size: 12px;
    font-weight: 300;
    padding: 5px;
}
.photo-richard figcaption em {
    background-color: #dddddd;
}
.paragraph {
    font-size: 14px;
    margin-top: 20px;
    width: 100%;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.biograph {
    display: none;
}
.awards {
    font-size: 18px;
    font-weight: 700;
}
.order-awards {
    font-size: 12px;
    margin-top: 10px;
}
.order-awards li {
    margin-bottom: 5px;
}
footer {
    display: flex;
    justify-content: center;
}
footer .about {
    display: none;
}
footer .container-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
}
footer p {
    margin: 10px 0 20px 0;
    font-size: 14px;
}
footer a:hover {
    text-decoration: underline;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}