:root {
    --green: #6FBF44;
    --black-blue: #17233D;
    --black-blue-two: #161A49;
    --gray: #4B505A;
    --white: #FFF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header {
    margin: 30px 0 10px 60px;
}
header nav a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
    text-decoration: none;
    color: var(--black-blue);
    margin: 0 20px;
}
header nav a:hover {
    text-decoration: underline;
}
header nav button {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 0 10px;
    text-decoration: none;
    border: none;
    background-color: var(--green);
    color: var(--white);
}
header nav button:hover {
    cursor: pointer;
    padding: 10px 25px;
    transition-duration: 0.3s;
}
main {
    display: flex;
    margin: 40px 0 0 120px;
}
main figure img {
    width: 595px;
    height: 500px;
}
main section {
    margin: 60px 0 0 60px;
}
main section h1 {
    font-weight: 700;
    font-size: 62px;
    letter-spacing: 0.6px;
    line-height: 82px;
    width: 582px;
    height: 164px;
    color: var(--black-blue-two);
}
main section p {
    margin-top: 20px; 
    color: var(--gray);
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5;
}
main section button {
    font-weight: 500;
    font-size: 18px;
    margin-top: 40px;
    border: none;
    background-color: transparent;
    color: var(--green);
    letter-spacing: 1px;
}
main section button:hover {
    text-decoration: underline;
    cursor: pointer;
}
@media screen and (max-width: 390px) {
    header {
        margin: 20px 0 0 0;
    }
    header nav {
        display: flex;
        justify-content: end;
    }
    header nav a {
        display: none;
        margin: 0;
    }
    header nav button {
        margin: 0 15px 0 0;
        width: 91px;
        height: 31px;
        text-align: center;
        padding: 0;
    }
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    main figure img {
        width: 312px;
        height: 288px;
        margin-top: 30px;
    }
    main section {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    main section h1 {
        font-size: 30px;
        line-height: 30px;
        height: 60px;
        width: 278px;
        text-align: center;
        margin-top: 20px;
    }
    main section p {
        font-size: 14px;
        width: 304px;
        height: 165px;
        text-align: justify;
        margin-top: 20px;
    }
    main section button {
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
    }
}