:root {
    --white: #ededed;
    --background-yellowgreen: yellowgreen;
    --background-transparent: transparent;
    --background-blue: #081b29;
    --background-red: red;
    --a-hover: #00abf0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    /*background-color: var(--background-blue);*/
    color: var(--white);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: var(--background-transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.logo {
    position: relative;
    font-size: 35px;
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-blue);
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}
.navbar a {
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
    font-family: 500;
    margin: 35px;
    letter-spacing: 2px;
}
.navbar a:hover {
    color: var(--a-hover);
    transition: 0.5s;
}
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.home-content {
    max-width: 600px;
}
.home-content h1 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-blue);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: var(--a-hover)
}
.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-blue);
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}
.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-blue);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}
.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-blue);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
    z-index: 2;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: var(--a-hover);
    border: 2px solid var(--a-hover);
    border-radius: 8px;
    font-size: 19px;
    color: var(--background-blue);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.btn-box a:hover {
    color: var(--a-hover);
}
.btn-box a:nth-child(2) {
    background-color: var(--background-transparent);
    color: var(--a-hover)
}
.btn-box a:nth-child(2):hover {
    color: var(--background-blue)
}
.btn-box a:nth-child(2)::before {
    background-color: var(--a-hover);
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--background-blue);
    z-index: -1;
    transition: 0.5s;
}
.btn-box a:hover::before {
    width: 100%;
}
.home-sci {
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-blue);
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--background-transparent);
    border: 2px solid var(--a-hover);
    border-radius: 50%;
    font-size: 20px;
    color: var(--a-hover);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.home-sci a:hover {
    color: var(--background-blue);
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--a-hover);
    z-index: -1;
    transition: 0.5s;
}
.home-sci a:hover::before {
    width: 100%;
}
.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 620px;
    height: 100%;
    background: var(--background-transparent);
    transition: 3s;
    animation: manipActiveHover 0.1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}
.home-imgHover:hover {
    background: var(--background-blue);
    opacity: 0.75;
    transition: 1s;
}
.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-blue);
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}
/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}
@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}