* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;}
main a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
}
main .botao {
    background-color: blue;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    word-spacing: 5px;
}
main .botao:hover {
    background-color: rgb(129, 129, 254);
    transition: 0.1s;
}