* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
main .aviso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 40px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 1px 2px rgba(106, 100, 100, 0.5);
    transform: rotate(330deg) translateX(-100px) translateY(-15px);
}
main a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90%;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid yellow;
    border-radius: 5px;
}