* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
header h1 {
    display: none;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 240px;
    height: 50px;
    cursor: default;
}
.menu {
    display: flex;
    align-items: center;
}
.menu nav ul,
.menu nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu nav h2 {
    display: none;
}
.menu nav ul {
    display: flex;
}
.menu nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
.menu nav a:hover {
    background-color: #39aae1;
    color: #FFF;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 17px;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url('https://www.rbsdirect.com.br/imagesrc/24945039.jpg?w=1400');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline .title {
    color: #FFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    max-width: 350px;
}
.banner_headline h3 {
    color: #FFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options {
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}
.banner_title {
    font-size: 21px;
}
.banner_desc {
    font-size: 12px;
    margin: 20px 0;
}
.banner_options a {
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    background-color: transparent;
}
#button1:hover {
    color: #39aae1;
    background-color: #FFF;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}
#button2:hover {
    color: #0079c7;
    background-color: #FFF;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}
.row {
    display: flex;
    justify-content: space-between;
}
.banner_day,
.banner_time {
    font-size: 12px;
    margin: 20px 0 10px 0;
}
#general {
    display: flex;
    justify-content: center;
}
#general h2 {
    display: none;
}
#general section {
    flex: 2;
}
#general section h2 {
    display: none;
}
#general aside {
    flex: 1;
}
#general aside h2 {
    display: none;
}
.widget_title {
    margin: 30px 0 20px 0;
}
.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin: 10px 0 0 0;
}
.widget_body {
    display: flex;
    justify-content: space-between;
}
.widget_body_box {
    background-color: #39aae1;
    width: 150px;
    height: 150px;
    margin: 10px 0;
}
.widget_paragraph {
    display: flex;
    flex-direction: column;
}
.widget_text_paragraph {
    margin-bottom: 20px;
    color: #5c5c5c;
}
.widget_text_paragraph_box {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    border-bottom: 1px solid #727272;
}
.widget_text_paragraph_box a {
    text-decoration: none;
    color: #5c5c5c;
}
.widget_text_paragraph_box a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0079c7;
    font-size: 17px;
    transition: 0.3s;
}
.widget_text_paragraph_box img {
    margin-right: 10px;
}
.flex {
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
    color: #000;
}
article .news_data {
    display: flex;
}
article .news_data_posted_at {
    background-color: #2b4c99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_data_comments {
    background-color: #39aae1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}
article .news_data_thumbnail {
    margin-top: 10px;
}
article .news_data_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_data_title h2 {
    margin: 5px 0;
    font-size: 23px;
}
article .news_data_resume p {
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 40px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
}
.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #FFF;
    padding: 30px 15px;
}
.fm_1 {
    background-color: #39aae1;
}
.fm_2 {
    background-color: #0079c7;
}
.fm_3 {
    background-color: #2b4c99;
}
.fm_1 h3,
.fm_2 h3,
.fm_3 h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.fm_1 img,
.fm_2 img,
.fm_3 img {
    margin-left: 10px;
}
.footer_area {
    display: flex;
}
.footer_area_item {
    flex: 1;
    color: #FFF;
}
.flex_column {
    flex-direction: column;
}
footer .widget_title_text {
    color: #FFF;
}
.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-bottom: 10px;
}
footer .widget_text_paragraph {
    line-height: 20px;
    margin-bottom: 20px;
}
footer .widget_body_title {
    color: #727272;
}
footer .widget_body_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #5c5c5c;
    line-height: 30px;
}
footer .widget_body_content a {
    text-decoration: none;
    color: #FFF;
}
footer .widget_body_content a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0079c7;
    font-size: 17px;
    transition: 0.3s;
}
footer .widget_body_content_logo {
    margin-top: 50px;
}
footer .widget_body_content_logo #logo_1,
footer .widget_body_content_logo #logo_2,
footer .widget_body_content_logo #logo_3 {
    border-bottom: 1px solid #727272;
    padding: 5px;
}
footer .widget_text_paragraph_phrase {
    color: #FFF;
    margin-left: 20px;
}
footer .widget_text_paragraph_tweets {
    color: #5c5c5c;
    margin-left: 20px;
}
footer .widget_text_paragraph_phrase a,
footer .widget_text_paragraph_tweets a {
    text-decoration: none;
    color: #FFF;
    cursor: default;
}
footer .widget_text_paragraph_phrase a:hover,
footer .widget_text_paragraph_tweets a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
} 
footer .widget_text_paragraph_data {
    color: #0079c7;
    font-size: 12px;
    margin-left: 20px;
}
@media (max-width: 600px) {
    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #general section,
    #general aside {
        padding: 20px;
    }
    .footer_menu,
    .footer_area {
        flex-direction: column;
    }
    .footer_area {
        padding: 20px;
    }
    .footer_copy {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
}