@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --gray: #515151;
    --white: #fff;
    --gray-two: #ffffff33;
    --violet: #5100b5;
    --violet-two: #6e16da;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
body {
    background: url("https://fastly.picsum.photos/id/961/1600/900.jpg?hmac=nF3OdxIrzzc23K27xw5uHNoVWlRqHjzQp8HVLZiRgQQ");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 420px;
    background: transparent;
    border: 2px solid var(--gray);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
}
.title {
    font-size: 36px;
    text-align: center;
    color: var(--white);
}
.input-container {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 3px solid var(--gray-two);
    border-radius: 10px;
    font-size: 15px;
    color: var(--white);
    padding: 20px 45px 20px 20px;
}
.input::placeholder {
    color: var(--white);
}
.img {
    position: absolute;
    right: 24px;
    top: 20%;
    margin-top: 8px;
}
.reset-password a {
    font-size: 12px;
    color: var(--white);
    text-decoration: none;
}
.reset-password:hover {
    text-decoration: underline;
}
.submmit-button {
    width: 100%;
    height: 50px;
    background-color: var(--violet);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-weight: 500;
    margin: 15px 0;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}
.submmit-button:hover {
    background-color: var(--violet-two);
    transition: 0.3s;
}
.register-link {
    text-align: center;
    margin: 20px 0;
}
.register-link p, a {
    font-size: 12px;
    color: var(--white);
    text-decoration: none;
}
.register-link p, a:hover {
    text-decoration: underline;
}