* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
header {
    width: auto;
    height: 80px;
}
header .container {
    height: 50px;
    margin: 25px 60px;
}
.logo-casio {
    width: 120px;
    height: 20px;
}
main {
    width: auto;
    height: auto;
}
main .container-two {
    margin-left: 60px;
}
.container-two h1 {
    margin-bottom: 50px;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
}
form .custom-fieldset-country,
form .fieldset-date-title,
form .custom-fieldset-email,
form .custom-fieldset-password,
form .custom-fieldset-name,
form .custom-fieldset-surname {
    border: 1px solid #000;
    padding: 10px 20px 20px 20px;
}
form .custom-legend-date {
    padding: 0 5px;
    font-weight: 700;
}
form .custom-label {
    margin: 0 5px;
    font-size: 12px;
    text-transform: capitalize;
}
form .custom-select,
form .custom-input {
    border: none;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    width: 100%;
}
form .div-date {
    margin: 10px 0;
}
form .fieldset-date-title {
    font-size: 12px;
}
form .date-fields-group {
    display: flex;
    justify-content: space-between;
}
form .custom-fieldset-date {
    border: 1px solid #000;
    padding: 10px 20px 20px 20px;
    width: 20%;
}
form small {
    font-size: 10px;
}
form .div-terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
}
form .terms-contract {
    width: 100%;
    height: 100px;
    color: #000;
    margin-bottom: 20px;
}
form em {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
form .button-enrollment {
    padding: 20px 130px;
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    background-color: #000;
}
form .button-enrollment:hover {
    cursor: pointer;
    background-color: #757575;
}