:root {
    --gray: #525252;
    --gray-two: #52525b;
    --white: #fff;
    --green: #84cc16;
    --purple: #6d28d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 10px;
}
section {
    border: 3px solid var(--gray);
    border-radius: 5px;
    display: flex;
    flex-basis: 250px;
    flex-grow: 1;
    flex-direction: column;
}
ul {
    margin: 30px;
}
.salary {
    display: flex;
    align-items: center;
}
h2 {
    font-size: 2.5rem;
    text-align: center;
    background-color: var(--gray-two);
    color: var(--white);
    padding: 10px;
}
h3 {
    margin: 20px;
    background-color: var(--green);
    color: var(--white);
    padding: 3px;
    border-radius: 5px;
}
section:nth-child(3) h2 {
    background-color: var(--purple);
}