:root {
    --black: #1e293b;
    --purple: #7e22ce;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.container {
    background-color: var(--black);
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
}
.item {
    background-color: var(--purple);
    margin: 10px;
    color: var(--white);
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}