* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
header {
    background-color: #242526;
    width: 100%;
    height: 60px;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}
header .logo,
header .midias {
    cursor: pointer;
    margin-top: 20px;
}
header .logo img {
    width: 180px;
    height: 30px;
}
header .midias {
    display: flex;
}
header .midias figure {
    margin-left: 10px;
    border-bottom: 1px solid #FFF;
}
header .midias figure:hover {
    border-bottom: 1px solid #769f36;
    transition: 0.3s;
}
main {
    background-color: #2d8b98;
    width: 100%;
    height: 300px;
}
main .container-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}
main .video {
    margin: 20px 0 0 0;
}
main .video iframe {
    width: 460px;
    height: 260px;
}
main .product {
    margin: 10px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFF;
}
main .product p {
    font-size: 14px;
}
main .product button {
    padding: 10px;
    background-color: #58CC02;
    border-radius: 5px;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
main .product button:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #58CC02;
    transition: 0.3s;
}
main .product .paragraph-1,
main .product .paragraph-2,
main .product button {
    margin-top: 20px;
}
footer {
    width: 100%;
    height: auto;
}
footer .container-three {
    display: flex;
    flex-direction: column;
    margin: 0 120px;
}
footer .second-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
footer .second-title h2,
footer .second-title p {
    text-transform: capitalize;
    margin-bottom: 10px;
}
footer .second-title p {
    color: #6c7373;
    font-size: 14px;
    text-align: center;
}
footer .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .more .more-1,
footer .more .more-2,
footer .more .more-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: auto;
}
footer .more .more-1 h3,
footer .more .more-2 h3,
footer .more .more-3 h3 {
    margin: 10px 0;
}
footer .more .more-1 p,
footer .more .more-2 p,
footer .more .more-3 p {
    font-size: 12px;
    color: #6c7373;
    text-align: center;
}